.header {
  margin-top: 84px;
  display: flex;
}

.airplane {
  width: 100px;
  height: 80.447px;
  margin-right: 34px;
  margin-left: 276px;
}

.header_text {
  color: var(--colors-purple, #4E148C);
  font-family: Inter sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

// Media

@media screen and (max-width: 768px){
  .header {
      margin-top: 19px;
      display: flex;
      justify-content: center;
  }
  .airplane {
      width: 57px;
      height: 46px;
      margin-right: 0;
      margin-left: 0;
  }
  .header_text {
      display: none;
  }
}

@media screen and (max-width: 430px){
  .header{
      margin-top: 31px;
      display: flex;
      justify-content: center;
  }
  .airplane {
      width: 68px;
      height: 54px;
      margin-right: 0;
      margin-left: 0;
  }
  .header_text {
      display: none;
  }
}